# I name my virtualenv `venv`
venv*

# store your authentication with github api in a file
# do not add that file to git
*secrets.py
*.env

# deployment archives
*.zip

# ignore the local copy of any logs
logs/*

# python ignores
*.pyc
*.db
*.coverage
*/.ipynb_checkpoints/*
*.ipynb_checkpoints/*

# IDE vim ignore files
*.swp
*.ropeproject

# Python packaging
.eggs*
.env
.tox*
build*
dist*
*.egg-info
*.egg-info
log/log.txt
*.log
