# from @McLovin's answer in https://stackoverflow.com/questions/24860426/nginx-config-file-overwritten-during-elastic-beanstalk-deployment
# This configures the nginx reverse proxy on the instance to wait
# longer for a response. This is necessary because EBS will do 10 at once, while
# the worker only works on one at a time and can take a while on each.

files:
  "/etc/nginx/conf.d/custom_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |

      proxy_connect_timeout       600;
      proxy_send_timeout          600;
      proxy_read_timeout          600;
      send_timeout                600;