# This file configures the nginx reverse proxy on the instance to wait
# longer for a response. This is necessary because EBS will do 10 at once, while
# the worker only works on one at a time and can take a while on each.
files:
  "/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy-timeout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      proxy_connect_timeout       2000;
      proxy_send_timeout          2000;
      proxy_read_timeout          2000;
      send_timeout                2000;
commands:
  "00nginx-create-proxy-timeout":
    command: "if [[ ! -h /etc/nginx/sites-enabled/elasticbeanstalk-nginx-docker-proxy-timeout.conf ]] ; then ln -s /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy-timeout.conf /etc/nginx/sites-enabled/elasticbeanstalk-nginx-docker-proxy-timeout.conf ; fi"
